
#currentTime{
    display: block;
    float: right;
    font-size: 20px;
    color: rgb(172, 84, 52);
}
.btn{
    background-color: rgb(241, 241, 134);
    border-color: rgb(61, 60, 60);
    color: black;
}
.main-div,
.logged-in-div{
    display: none;
}
thead{
    background-color: rgba(241, 241, 149, 0.678);
}
tbody{
    background-color: rgba(241, 241, 149, 0.411);
}
h6{
    font-size: 15px;
    padding: 20px;
}