
#currentTime{
    display: block;
    float: right;
    font-size: 20px;
    color: rgb(172, 84, 52);
}
.btn{
    background-color: rgb(241, 241, 134);
    border-color: rgb(61, 60, 60);
    color: black;
}

